[Desktop Entry]
Type=Application
Categories=X-Alterator-System
Icon=utilities-terminal
Name=System monitoring
Name[ru]=Системный мониторинг
Comment=eBPF Security Monitor
Comment[ru]=Мониторинг системных вызовов и угроз безопасности
Exec=acc-legacy /syscall-inspector
[X-Alterator]
Interface=org.altlinux.alterator.syscall_inspector
