[Desktop Entry]
Type=Application
Categories=X-Alterator-System
Icon=utilities-terminal
Terminal=false
Name=System monitoring
X-Alterator-URI=/syscall-inspector
X-Alterator-Weight=10
Name[ru]=Системный мониторинг
Comment=eBPF Security Monitor
Comment[ru]=Мониторинг системных вызовов и угроз безопасности
